[user]
	name = Yann F
	email = yannxf8@gmail.com
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
